@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: relative;
}

body::before {
  content: "";
  background-image: url('../images/cairn3.jpeg');
  filter: blur(3px);
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}

*, button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

#contact {
  background-image: url('../images/gradient.png');
  background-repeat: no-repeat;
  opacity: 95%;
}

#home {
  background-image: url('../images/marble.jpeg');
  background-repeat: no-repeat;
}

.border-r-1 {
  border-right-width: 1px
}

.border-b-1 {
  border-bottom-width: 1px
}

#footer {
  background: linear-gradient(to bottom, #ede6dcdf, #ede6dcb6, #ffffff4f);
}

@media screen and (max-width: 1000px) {
  #services{
    padding: 5%;
  }

  #philWrapper {
    flex-direction: column;
  }

  .phil-section {
    width: 100%;
    margin: 0;
  }

  .top-phil {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  #home {
    width: 100vw;
  }

  #contact {
    display: flex;
    flex-direction: column;
    margin-right: none;
  }

  #contact article {
    margin-right: 0;
  }

  #menuBtn img {
    min-width: 30px;
  }

  h1 {
    font-size: 40px!important;
  }

  #serviceSpacer {
    display: none;
  }

  #services {
    display: flex;
    flex-direction: column;
  }

  .single-service {
    border: none;
  }
}

@media screen and (max-width: 630px) {
  #navBar {
    flex-direction: column;
    align-items: start;
  }
  
  #navBar button {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  #contactInfo section {
    flex-direction: column;
  }

  #contactInfo div {
    padding: 0;
    border: none;
    margin: 0;
  }

  article h2 {
    font-size: 60px!important;
    margin: 0;
  }

  .single-service {
    padding-left: 0;
    padding-right: 0;
  }

  #footer h2 {
    font-size: 40px;
  }

  #footer h3 {
    font-size: 30px;
  }

  #footer {
    height: auto;
  }

  #openingText{
    font-size: 50px;
  }

  h1 {
    font-size: 30px!important;
  }
}

@media screen and (max-width: 545px) {
  article h2 {
    font-size: 40px!important;
  }

  .name-container, .email-container {
    grid-column: span 2 
  }

}

@media screen and (max-width: 410px) {

  #nav h1 {
    text-align: start;
  }

  article h2 {
    font-size: 8vw!important;
  }

  #footer h2 {
    font-size: xx-large;
  }

  #footer h3 {
    font-size: x-large;
  }

  #footer p {
    font-size: large;
  }
}

@media screen and (max-width: 300px) {
  article h2 {
    font-size: 25px!important;
  }

  #contact {
    padding: 10px 8px; 
  }

  #openingText{
    font-size: 40px;
  }
}

@media screen and (max-width: 250px){
  #nav {
    flex-direction: column;
    align-items: center;
  }

  #nav h1 {
    text-align: center;
  }
}